header {
  background-color:black;
  padding: 20px;

}
nav a {
    padding: 20px;
    text-align: right;
    color:#e09e3b;
    font-size:15px;
    border-radius:18px;
    border: 2px solid black;
    background-color:rgba(124, 122, 138, 0.192)
}    
.facts{
    color:rgb(220, 157, 20);
    background-color: linear-gradient(rgba(224, 164, 0, 0.418), rgba(0, 0, 0, 0.836)), url(./car.avif) no-repeat center/cover;
    padding: 20px;
    border-radius:30px;
}
h1 {
    color:rgb(255, 255, 255);
    font-size: 50px;
    line-height:1.7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    border-radius:30px;

     
}
.ford{
    color:gold;
    font-size: 50px;
    text-align: left;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    letter-spacing: 2px;
    border: radius 50px;
    
}

.card{
    color:rgb(198, 213, 255);
    background-color: rgb(0, 0, 0);
    border-top: 3px inset #888888;
   padding: 20px;
   border-radius:30px;
    max-width: 1000px;
    margin: 20px auto
}

th{
    background-color: rgb(27, 79, 92);
    border-top: 3px inset #888888;
    border-radius:30px;
    margin: 20px auto ;
    color:aliceblue
}
img{
    border-radius:30px;
    display:block;
    margin: 20px 30px;
    border-top: 3px inset #888888;
}
button{
    background-color: rgb(108, 98, 255);
    border: none;
    border-radius: 20px;
     padding: 15px 30px;
     font-size: 18px;
     font-family: 'Roboto',sans-serif;
     border-top: 5px inset #888888;
    

}
main section {
    transition: 0.3s;
    animation: fadeIn 1s ease;
}



button:hover{
    transition: 0.3s;
}
button:hover{
    transform: rotate(5deg) scale(1.25);
}


@keyframes fadeIn {
    from {
        opasity:0;
        transform: translateY(15px);

    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}
@media (max-width: 700px) {   
    header {
            padding: 40px;
        }
    nav a {
        display: block;
    }
     
        main section {
            padding:20px;
        }

    button,
    button[type="reset"]{
        width:100%;
        margin-top: 10px;
        margin-left: 0;
    }
}

